.box {
    width: 800px;
    margin-bottom: 20px;
    border: 1px solid black;
}

/*  */

.margin {
    margin-left: 0!important;
    margin-right: 0!important;
}

.azul-finlandia{
    background: #1f0982;
    height: 200px;
}

.azul-finlandia-um {
    background: #1f0982;
    height: 130px;;
}

.azul-finlandia-dois {
    background: #1f0982;
    height: 200px;;
}

.height {
    height: 200px;
}

/*  */

.japao{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miolo {
    background-color: red;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

/*  */

.alemanha{
    height: 600px;
}

.vermelho {
    background-color: red;
    height: 200px;
}

.preto {
    background-color: black;
    height: 200px;
}

.amarelo {
    background-color: yellow;
    height: 200px;
}

/*  */

.libano{
    height: 600px;
}

.vermelho-libano {
    background-color: red;
    height: 200px;
}

.arvore {
    text-align: center;
}

.arvore img{
    height: 200px;
}

/*  */

.grecia-height {
    height: 55.556px;
}

.azul {
    background-color: blue;
    height: 55.556px;
}