/* estilo do marcos */
.flash {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 50px;
  }
  
  .verde {
    background-color: green;
    border-color: green;
    color: white;
    cursor: pointer;
  }
  
  .vermelho {
    background-color: red;
    border-color: red;
    color: white;
    cursor: pointer;
  }
  
  .invisivel {
    display: none;
  }

  .fade-in {
    animation: fadein 1s linear forwards;
  }
  .fade-out {
    animation: fadeout 1s linear forwards;
  }
  
  @keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
  @keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

  /* estilo do marcos */
  
  .amarelo {
    background-color: yellow;
    border-color: yellow;
    color: white;
    cursor: pointer;
  }
  
  /* .fade-in-out{
    animation-name: fadeInOut;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    opacity: 0;
  }
  
  @keyframes fadeInOut {
    50%{
        opacity: 1;
  
    }
  } */