/* Carousel */

.carousel-item {
    height: calc(100vh - 56px); /*vh - nav*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item.carousel-item-1 {
    background-image: url("Creative.jpg");
}

.carousel-item.carousel-item-2 {
    background-image: url("creative-2.jpg");
    background-position: center top;

}

.carousel-item.carousel-item-3 {
    background-image: url("creative-3.jpg");
}



/*
se eu quiser uma imagem por banner:

.carousel-item.carousel-item-1 {
    background-image: url("...");
}
*/