/* About  */

.about .row {
    margin: 0 10px 45px;
}

.about img {
    width: 125px;
    margin: 10px 20px 10px 10px;
    float: left;
}

.about .row:nth-child(2n) img {
    margin: 10px 0px 10px;
    float: right;
}

section.about {
    padding: 30px 0;
}

article.col {
    background: #efefef;
    border-radius: 8px;
}