/* Box */

.box {
    padding: 15px;
    border-radius: 8px;
    background: #efefef;
    text-align: center; /*funciona pq são elementos de texto, de linha*/
}

@media (max-width: 1079px) {
    .box {
        margin-bottom: 15px;
    }
}


.box div {
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin: 0px auto;
    border: 5px solid #fff;
    background: #efefef;
    border-radius: 50%;
    box-sizing: border-box;  /*vai corrigr o 120px + 30px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

