/* Contact */

.iframe{
    height: calc(100vh - 170px);
    width: calc(50vw - 15px);
}

@media (max-width: 639px) {
    .iframe {
        width: 100%;
        margin-top: 30px;
    }
}

.field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container-contact {
    min-height: calc(100vh - 162px);
}
