/* Header */

body{
 padding-top: 50px;
}

.main-header{
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: fixed; /*para a nav ficar fixa no inico, top e left e z-index*/
    top: 0;
    left: 0;
    z-index: 99;
}

.main-header ul {
    float: right;
}

.main-header li{
    float: left;  /*quando float eh usado o pai não consegue mais perceber os filhos, não consegue calcular sua altura dinamicamente, portanto usar o clearfix*/
}

@media (max-width: 640px) {
    .main-header ul,
    .main-header li{
        float: none;  /*quando float eh usado o pai não consegue mais perceber os filhos, não consegue calcular sua altura dinamicamente, portanto usar o clearfix*/
    }
}

.main-header ul a {
    display: block;
    padding: 15px;
}

.logo {
    display: block; /*faz com que esse elemento se comporte como um elemento de bloco, podendo assim dar largura para ele  */
    width: 115px;
    padding-top: 7px;
    float: left;
}

.logo img {
    width: 100%;
}

#mobile-menu,
.mobile-menu {
    display: none;   
    /*clear: both; */
}

@media (max-width: 640px) {
    .main-header ul {
        display: none;
    }

    .mobile-menu{
        display: block;
        width: 45px;
        height: 45px;
        padding: 10px;
        margin: 3px 0 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        float: right;
        box-sizing: border-box;
        cursor: pointer;
    }

    .mobile-menu span {
        display: block;
        height: 3px;
        margin: 4px 0;
        border-radius: 4px;
        background: #999;
    }

    #mobile-menu:checked + ul {
        display: block;

    }
}