/* Banner */

.main-banner {
    display: table;  /*banner vai se comportar como uma tabela*/
    width: 100%; /*vai ter 100 da largura da tela disponivel*/
    height: calc(100vh - 50px); /*vh é 100% do view port. tamanho da tela do usuario*/
    position: relative;
    background: url(../../img/Creative.jpg) no-repeat center / cover ; /*sair do css, entrar em img e escolhe a img; center ou declarar ceparado x e y; tamanho do background*/
    color: #fff;
}

.main-banner:before{
    content: ""; /* precisa disso pra recolhecer*/
    display: block;
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    background: -moz-linear-gradient(-45deg,  #007aff 0%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #007aff 0%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #007aff 0%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.main-banner article {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    vertical-align: middle;  /*centralizar verticalmente*/
    text-align: center;
    position: relative;
    z-index: 2;
}


.main-banner h1 {
    margin: 0 0 20px;
    font-size: 60px;
    line-height: 70px;
}

@media (max-width: 640px) {
    .main-banner h1 {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 641px) and (max-width: 1079px) {
    .main-banner h1 {
        font-size: 40px;
    }
}

.main-banner p {
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 640px) {
    .main-banner p {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (min-width: 641px) and (max-width: 1079px) {
    .main-banner p {
        font-size: 18px;
        line-height: 25px;
    }
}



/*
    static: fica onde deixar e não consegue posicionar
    relativo: posição inicial dele. relativo a posição que ele esta agora. consegue posicionar 
    absolut: absoluto a todos os demais elementos da tela. como se ele estivessa acima de todos os outros elementos.
    fixed:como o absoluto. mas fica fixo a tela; se scrollar ele não se meche
*/