/* Buttons */

.botoes {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

.button {
    display: inline-block;  /**/
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    background: #ddd;
    color: #222;
    margin: 5px;
    cursor: pointer;
}

.button-green {
    color: #fff;
    background: #39b54a;
}

.button-blue {
    color: #fff;
    background: #007aff;
}
.button-red {
    color: #fff;
    background: red;
}
.button-purple {
    color: #fff;
    background: purple;
}

/* .button:hover {
    text-decoration: none;
    transition: background 0.2s ease-in-out 0s;/*propriedade; tempo de animacao; como vai ser executada; deley
} */

.button-big {
    padding: 25px 40px;
    font-size: 24px;
    line-height: 24px;
}

@media (max-width: 640px) {
    .button-big {
        padding: 15px 20px;
        font-size: 10px;
        line-height: 8px;
    }
}

@media (min-width: 641px) and (max-width: 1079px) {
    .button-big {
        padding: 18px 25px;
        font-size: 20px;
        line-height: 15px;
    }
}

.button-blue:hover {
    background: #2d92ff;
}

.button-green:hover {
    color: #fff;
    background: #6cfd7f;
}

.button-outline {
    border: 1px solid #fff;
    color: #fff;
    background: none;
}

.button-right {
    float: right;
    clear: both;
}