.container-login {
    background: rgb(152, 21, 21);
    background: linear-gradient(190deg, rgba(152, 21, 21, 1) 3%, rgba(146, 18, 68, 1) 17%, rgba(121, 42, 98, 1) 32%, rgba(119, 44, 100, 1) 46%, rgba(82, 62, 113, 1) 73%, rgba(51, 70, 106, 1) 82%);
    height: 100vh;
  }
  
  .login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 260px;
    height: 260px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 1px 1px 50px #000;
  }
  
  .h1-login {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
  }
  
  input.field,
  button.field {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: rgba(3, 3, 3, .1);
  }
  
  input:focus {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3, 3, 3, .18);
  }
  
  button.field {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgba(107, 255, 3, 0.4);
  }
  
  button.field:hover {
    opacity: 0.8;
  }