.card {
    background: linear-gradient(190deg, rgba(152, 21, 21, 1) 3%, rgba(146, 18, 68, 1) 17%, rgba(121, 42, 98, 1) 32%, rgba(119, 44, 100, 1) 46%, rgba(82, 62, 113, 1) 73%, rgba(51, 70, 106, 1) 82%);
    border-radius: 10px;
    margin: 2rem;
    max-width: 25em;
    min-height: 12em;
    padding: 2.5rem;
    position: relative;
    top: 65px;
  }
  
  .titulo {
    margin: 0 0 0.5rem;
    line-height: 30px;
  }
  
  .subtitulo,
  .titulo-informacao {
      text-transform: capitalize;
    font-weight: 400;
    margin: 0;

  }
  
  .titulo-informacao {
    font-weight: bold;
  }
  
  .endereco {
    bottom: 40px;
    position: absolute;
  }
  
  ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: table-row;
  }
  
  .informacao {
    display: table-cell;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem 2.5rem;
  }