@import 'componentes/geral/reset.css';
@import 'componentes/geral/grid.css';
@import 'componentes/header/header.css';
@import 'componentes/banner/banner.css';
@import 'componentes/homeBox.css';
@import 'componentes/button/button.css';
@import 'componentes/footer/footer.css';
@import 'componentes/formulario/formulario.css';
@import 'componentes/mapa/mapa.css';

.text-center {
  text-align: center;
}

.mt-3{
  margin-top: 30px;
}

.mb-3{
  margin-bottom: 30px;
}

.msg-regista-nota {
  color: #fff;
}

.botoes {
  margin-top: 15px;
}

.div-imagem {
  display: flex;
  flex-direction: column;
}

.nota{
  margin: 15px 0px;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  text-align: center;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
}

.btn-verde {
background-color: green;
}

.btn-azul {
  background-color: blue;
}

.App {
  text-align: center;
}

/* estilo do marcos
 .flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
}

.verde {
  background: green;
}

.invisivel {
  display: none;
}
 */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
/* 
  flex-direction: row;
  justify-content: space-evenly; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
