.img-card {
    width: 100%;
}

.card {
    margin: 25px 0;
}

@media (min-width: 992px) { 
    .card {
        height: 550px;
    }
}

@media (min-width: 768px) { 
    .card {
        height: 580px;
    }
}