/* Carousel */

.carousel-item {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item.carousel-item-1 {
    background-image: url("../img/recorre-el-centro-historico.jpg");
}

.carousel-item.carousel-item-2 {
    background-image: url("../img/nao-piramide.jpg");
}

.carousel-item.carousel-item-3 {
    background-image: url("../img/parque-bicentenario.jpg");
}
