@import 'style/reset.css';
@import 'style/login.css';
@import 'style/resultados.css';
@import 'style/button.css';
@import 'style/header.css';
@import 'style/grid.css';



a {
  text-decoration: none;
  color: #fff;
}

body {
  background: rgba(166, 166, 166, 0.6);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 600px;
  text-align: center;
}

.contacliente {
  width: 25em;
}