/* Grid */

.container{
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; /*top left bottom e right */
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after { /* pseudo elemento; dentro do elemento, antes e depois do conteudo; usar sempre em elementos que flutuam; é tipo um componente */
    content: "";
    display: table;
    clear: both;

}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    box-sizing: border-box; /*esse eh pq o tamanho da tela seria 50%+15px+15px, isso corrige*/
}


.col-1 {
    width: 8.333333333%;  /*100% / 12*/
}

.col-2 {
    width: 16.666666667%;
}

.col-3 {
    width: 25%;
}

.col-4{
    width: 33.333333333%;
}

.col-5 {
    width: 41.666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333%;
}

.col-8 {
    width: 66.666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333333%;
}

.col-11 {
    width: 91.666666667%;
}

.col-12 {
    width: 100%;
}

.padding-bottom {
    padding-bottom: 30px;
}

@media (min-width: 640px){
    .col-md-1 {
        width: 8.333333333%;  /*100% / 12*/
    }
    
    .col-md-2 {
        width: 16.666666667%;
    }
    
    .col-md-3 {
        width: 25%;
    }
    
    .col-md-4{
        width: 33.333333333%;
    }
    
    .col-md-5 {
        width: 41.666666667%;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: 58.333333333%;
    }
    
    .col-md-8 {
        width: 66.666666667%;
    }
    
    .col-md-9 {
        width: 75%;
    }
    
    .col-md-10 {
        width: 83.333333333%;
    }
    
    .col-md-11 {
        width: 91.666666667%;
    }
    
    .col-md-12 {
        width: 100%;
    }
        
}

@media (min-width: 1080px){
    .col-lg-1 {
        width: 8.333333333%;  /*100% / 12*/
    }
    
    .col-lg-2 {
        width: 16.666666667%;
    }
    
    .col-lg-3 {
        width: 25%;
    }
    
    .col-lg-4{
        width: 33.333333333%;
    }
    
    .col-lg-5 {
        width: 41.666666667%;
    }
    
    .col-lg-6 {
        width: 50%;
    }
    
    .col-lg-7 {
        width: 58.333333333%;
    }
    
    .col-lg-8 {
        width: 66.666666667%;
    }
    
    .col-lg-9 {
        width: 75%;
    }
    
    .col-lg-10 {
        width: 83.333333333%;
    }
    
    .col-lg-11 {
        width: 91.666666667%;
    }
    
    .col-lg-12 {
        width: 100%;
    }

}