/* Reset */
/*verde #4cd964*/

nav ul, 
body{
    margin: 0;
}

nav ul{
    padding: 0;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif; /*fontes reserva para caso não tenha a primeira*/
    font-size: 16px;
    line-height: 20px;
    color: #666;
}

a {
    color: #007aff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}