@import 'style/reset.css';
@import 'style/grid.css';
@import 'style/header.css';
@import 'style/button.css';
@import 'style/episodioUi.css';
@import 'style/mensagemFlash.css';

.msg-regista-nota {
  color: #fff;
}

.resultado {
  text-align: center;
  line-height: 35px;
}

.div-imagem {
  display: flex;
  flex-direction: column;
}

.nota{
  margin: 15px 0px;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  text-align: center;
}

.index {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
/* 
  flex-direction: row;
  justify-content: space-evenly; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
