
.main-footer {
    background: #333;
    text-align: center;
    padding: 20px 0;
}

.main-footer li,
.meu-main-footer a{
    display: inline-block; 
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
}

