.msg-regista-nota {
  color: #fff;
}

.botoes {
  margin-top: 15px;
}

.div-imagem {
  display: flex;
  flex-direction: column;
}

.nota{
  margin: 15px 0px;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  text-align: center;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
}

.btn-verde {
background-color: green;
}

.btn-azul {
  background-color: blue;
}
.btn-vermelho {
  background-color: red;
}
.btn-roxo {
  background-color: purple;
}

.link-avaliacoes {
  text-decoration: none;
  color: #fff;
}

/* .App {
  text-align: center;
} */

/* estilo do marcos */
 .flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

.invisivel {
  display: none;
}

.fade-in {
  animation: fadein 1s linear forwards;
}
.fade-out {
  animation: fadeout 1s linear forwards;
}
@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }




/* estilo do marcos */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
/* 
  flex-direction: row;
  justify-content: space-evenly; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
